/* this is the stylesheet for Crazy James*/

html, body, header, nav, footer, div, h1,h2,h3,h4,h5,h6, p, ul, li {
    margin:0;
    padding: 0;
    
}

body{
    background-color: rgb(180, 30, 50);
    font-family: sans-serif;
    color: aliceblue;
    font-size: 16px;
}

div#container {
    border: 5px solid orange;

    border-radius: 5px;
    width: 1024px;
    height:768px;
    margin: auto;
    background-color: rgb(30, 20, 50);
}


div#container header {
    background-color: rgb(180, 30, 50);
    background-image:url(Images/Village.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 120%;
    text-shadow: 8px 8px 10px black;
    color: rgb(200, 20, 20);
    width: 100%;
    height: 200px;
    text-align: center;
}

div#container header h1 {
    padding:60px;
}

div#content
{
    display: block;
    width: 1012px;
    height: 420px;
    padding: 10px;
}



nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(180, 30, 50);
    border-top: 5px solid orange;
}

nav ul li{
    float: left;
    font-size: 200%;
    
}
nav ul li a {
    display:block;
    color: white;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    text-shadow: 5px 5px 2px black;
}

nav ul li a:hover {
    background-color: rgb(30, 20, 50);
    text-shadow: 2px 2px 5px black;
    
}

.active{
    background-color: rgb(30, 20, 50);
    text-shadow: 3px 3px 5px black;
}

img#Shogun{
    float: left;
    width:  300px;
	clear: right;
	padding-right: 14px;
	padding-bottom: 5px;
}
h2{
    margin: 0px 0px 10px 12px;
    width: 1000px;
	clear: right;

}
div#content p{
    margin: 5px;
    width: 1000px;
	clear: right;

}
footer{
    background-color: black;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    text-align: center;
    padding-top: 16px;
}
/*Gallery Page*/
div#gallery {
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    float: left;
}
div#gallery .frame{
    background-color: rgb(180, 30, 50);
    border: 4px solid orange;
    float: left;
}
div#gallery .frame figcaption{
    text-align: center;
    padding-bottom: 5px;
}
img.galleryimg{
    width: 200px;
    height: 150px;
    margin: 5px 10px;
}
/*Contact Page*/
fieldset form{
    
}
fieldset legend{
    font-weight: bold;
    border: 1px solid white;
}
form input{
    margin: 5px 0;
}

/*Keep Web Pages Open*/
.keepOpen{
    clear: both;
}